<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../images2/logo.png">
    <title>Chart the Stock Market</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/custom/css/mystyles.css">
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
     <script type="text/javascript" src='/custom/js/customSocket.js'></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   
    <script>
       // Load the Visualization API and the corechart package.
        google.charts.load('current', {
            'packages': ['corechart']
        });
    var socket = io();
        
    socket.on('newStockDataAvailable', function(newStockData){ //data is the name of whatever object is sent from the server
    console.log(newStockData);

    
 
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            // Create the data table.
             var data = google.visualization.arrayToDataTable(newStockData)
            // Set chart options
            var options = {
                title       : 'Stock Prices the Last Month',
                subtitle    : '',
                hAxis       : {slantedText:true, slantedTextAngle:45}
            };
            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

    
});
    </script>    
</head>
<body>

    {{{body}}}

    <script type="text/javascript" src="/custom/js/myscripts.js"></script>    
</body>
</html>