
<div class='container'>
        <div class='container' style='margin-top:60px'>
            <div class='row '>
                <div class='col-xs-12'>
                    <!--Div that will hold the pie chart-->
                    <div id="chart_div" class='chart'></div>
                </div>
            </div>
            <div class='row '>
                <div class='col-xs-12 col-sm-6 col-sm-offset-3 '>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Add a new stock</h3>
                        </div>
                        <div class="panel-body">
                            <input type="text" id='stockSymbol' placeholder="Enter new stock symbol">
                            <div class="input-group" style='margin-top:15px'>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button" id='hit' style='border-radius:10%'>Search!</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
